.dream-job-section {
  background-color: white;
}

.dream-job-intro p {
  font-size: 18px;
  color: var(--gray-500);
  line-height: normal;
  font-weight: 500;
}

.section-subtitle {
  font-size: 24px;
  font-weight: 500;
  color: var(--gray-800);
  margin-bottom: 2rem;
}




.dream-job-section .cards-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  position: relative;

}

.cards-container {
  display: flex;
  width: max-content;
  gap: 8px;
  will-change: transform;
  transition: transform 0.3s ease-out;
}

.dream-card {
  border-radius: 20px;
  padding: 16px;
  font-weight: 400;
  width: 100%;
  height: 140px;
  color: var(--gray-100);
  background-color: var(--indigo-400);
  position: relative;
  flex-shrink: 0;
  margin-right: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  will-change: transform;
}

.dream-card .card-title {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.dream-card .card-number {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 24px;
  width: 48px;
  display: flex;
  border-radius: 99px;
  height: 48px;
  padding: 12px;
  text-align: center;
  justify-content: center;
  margin-bottom: 0px;
  background-color: var(--indigo-500);
  align-items: center;
}

/* Swiper slide sizing */
.dream-job-section .swiper-slide {
  width: auto;
  transition: transform 0.3s ease;
  transform: translate3d(0,0,0);
  text-align: left;
}

.dream-job-section .swiper-wrapper {
  justify-content: flex-start; /* Force left alignment of the wrapper */
}

/* Desktop styles */
@media (min-width: 1280px) {
  .desktop-view.cards-flex {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .dream-job-section .desktop-view .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 10px;
  }
  
  .dream-job-section .container {
    display: flex;
    gap: 80px;
  }
  
  .dream-job-section .section-subtitle {
    font-size: 52px;
  }
  
  .desktop-view .dream-card {
    min-width: 284px;
    height: 162px;
    margin: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {

  .dream-job-section .container {
    display: flex;
    gap: 80px;
  }
  
  .dream-job-section .section-subtitle {
    font-size: 52px;
  }
  
  .desktop-view.cards-flex {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .desktop-view .cards-container {
    display: flex
;
    flex-direction: row;
    width: 100%;
    gap: 16px;
    flex-wrap: wrap;
}
  
  .desktop-view .dream-card {
    min-width: 284px;
    height: 118px;
    margin: 0;
  }
}

