.hero-section .container {

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-section {
   height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
  /* Account for fixed header */
  padding-bottom: 0px;
  color: var(--gray-800);
}


.hero-content h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--gray-800);
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}


.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(var(--shadow-indigo));
  position: relative;
}

.img-anim {
  animation: standart 1s ease-in-out forwards;
}

.hero-chat {
  position: absolute;
  bottom: 30px;
  width: calc(100% - 80px);
  justify-self: center;
  z-index: 2;
  justify-self: anchor-center;
}

.left_chat_anim {
  position: relative;

  animation: left_chat_anim 1s ease-in-out forwards;
}

@keyframes standart {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes left_chat_anim {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.right_chat_anim {
  left: 0px;
  animation: right_chat_anim 1s ease-in-out forwards;
}

@keyframes right_chat_anim {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

/* Add styles for larger screens */
@media (min-width: 1024px) {
  .hero-section {
    padding-top: 60px;
    padding-bottom: 20px;
    justify-content: space-between;
  }

  #home .container {
    height: auto;
    overflow: visible;
    align-items: center;
  }

  .hero-section {
    height: auto;

 }
  .hero-content {
    justify-content: center;
    height: auto;
  }

  .hero-content h1 {
    font-size: 64px;
    font-weight: 600;
  }

  .hero-content {
    text-align: left;
    margin-top: 64px;
  }
  .hero-chat {
    position: absolute;
    bottom: 20px;
    width: 340px;
    justify-self: anchor-center;
  }

  .hero-image img {
    transform: scale(1.1);
  }
}