.button {
  border: none;
  border-radius: 16px;
  cursor: pointer;
  height: 40px;
  padding: 10px 16px;
  transition: background-color 0.3s, transform 0.2s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.button:hover {
  background-color: var(--indigo-400);
}

.button-primary {
  background-color: var(--indigo-500);
  color: white;
}

.button-secondary {
  background-color: var(--gray-100);
  border: 1px solid var(--gray-100);
  transition: 0.3s;
  color: var(--gray-800);
}
.button-secondary:hover {
  background-color: var(--gray-100);
  border: 1px solid var(--indigo-400);
  transition: 0.3s;
}

.button-small {
  font-size: 14px;
}

.button-medium {
  font-size: 14px;
}

.button-large {
  font-size: 14px;
  width: 100%;
  display: flex
;
  text-align: center;
  justify-content: center;
}
.button-large img{
  display: none;
}
@media  (min-width: 1024px) {
  .button-large {
    font-size: 14px;
    width: 100%;
    display: flex
;

    text-align: left;
    justify-content: space-between;
}
.button-large img{
  display: block;
}
}